body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
.lato{
    font-family: "Lato", sans-serif;
    font-weight: 300;   
}
.opensans{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;   
}
.raleway{
    font-family: Raleway;
}
.noscroll{
    overflow: hidden;
}
.link{
    color: #ffcc00;   
}
.bold{
    font-weight: bold;
}
p{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;   
}
a{
    text-decoration: none;
}
.fa-2x{
    font-size: 1.8em !important;
}

.navbar {
    position: fixed;
    height: 3em;
    width: 100%;
    z-index: 200;
    background-color: #222;
	transition: background-color 0.75s;
	text-align:center;
	font-size: 1.2em;
}

#navbar-logo a {
    background-image:url('img/LogoWhite_Small.fw.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height:100%;
}

.navbar div {
	margin:auto;
}

.navbar ul {
	text-align: center;
	width:100%;
	margin:auto;
}

.navbar li {
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	min-width:150px;
    transition: 0.5s;
}

.navbar li a {
    border-bottom:0.1em solid #666;
}

.navbar li a:hover {
    transition: linear 0.25s;
    background:linear-gradient(rgba(255, 204, 0, 0), rgba(255, 204, 0, 0.2));
    height:3em;
    border-bottom:0.4em solid #ffcc00;
    #color:#000;
}

.gallery-content {
    background: #000;
}
.galleria {     
    width: 100vw; 
    height: 95vh;
}
.pure-menu a {
    line-height:2em;
    font-family: Roboto;
    color: #FFF;
}

.splashart {
    position:relative;
    height:100vh;
    z-index:-5;
    background:linear-gradient(#77EFCA, #F7FED5);
}

.splashart-layer {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    position:absolute;
    width:100%;
    height:100%;
}

.landing-content-container {
    width:100%;
    background: #000;
}

.landing-content {
    width:100%;
    max-width:1280px;
    /*background-color:#fcc;*/
    margin:auto;
    overflow:auto;
    color: #FFF;
}

.landing-content h1 {
    color: #FFF;
}
.info-content{
    margin: 0 4vw;
}
.info-content h2{
    padding-top: 2.6em;
    color: #87CEEB;
}

.landing-info{    
    font-size: 1.1em;
    margin: 1em 0;
    padding-right: 3em;
    font-family: Open Sans;
    color: #DDD;
}

.landing-image1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 225px;
    max-width: 350px;
    border-radius:8px;
}

.landing-image2{
    max-height: 350px;
    max-width: 1200px;
    border-radius:8px;
}

.video-section {
    margin: 6vh 3em;
}

.video-section h2{
    text-align: center;
    margin: 2em 0 1em 0;
    color: #87CEEB;
}

.video-content {
    padding-top: 0.5em !important;
    text-align: center;
    /*background-color:#ccf5ff;*/
}
.video-content h3{
    font-size: 1.2em;
	padding: 1em;
}

.video-container {
    text-align: center;
	position: relative;
	padding-bottom: 60%;
	height: 0;
	overflow: hidden;
    border-radius:8px;
}
.video-container iframe, 
.video-container object, 
.video-container embed {
	width: 45vmin;
	height: 30vmin;
}

.news-container{
    height: 95vh;
    width: 100%;
    background-image: url(img/backgrounds/lightTiler.png);
    text-align: center;
    vertical-align: middle;
}

.news-content{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    overflow: auto;
}

.news-header{
    text-align: center;
    margin: 2em 0;
    padding: 0.5em 0 0.5em 0;
    cursor: pointer;
    color: #222;
}

.feed {
    height: 90vh;
    max-height: 500px;
    width: 100%;
    border: none;
    overflow: hidden;
}

.team-content{
    height: 95vh;
    width: 100%;
    background-image: url(img/backgrounds/darkTiler.png);
    margin: auto;
    overflow: auto;
}

.team-content-border{
    padding: 5vmin;
    width: 65vw;
    height: auto;
    margin: 10vmin auto;
    background-color: #222;
}

.team-header{
    text-align: center;
    margin-top: 2em;
    padding: 0.5em 0 0.5em 0;
    cursor: pointer;
}

.team-member{
    margin: 5vmin 0;
    min-height: 15vmin;
}

/* START: Team Page Tab Logic and Styling */
*, *:before, *:after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.tabs {
    margin: 0 auto; 
    min-width: 320px; 
    max-width: 1280px;
    text-align: center;
}

.content {
/*    background: #000; 
    min-height: 50vh;*/
    text-align: left;
    height: auto !important;
    transition: all 5s ease;
}

.content > div {
    display: none; 
/*    padding: 3em 8em 2em 8em;*/
    color: #777;
}

.content h2{
    color: #87CEEB;
}
.content h3{
    padding-bottom: 10px;
}
.content h5{
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}
.content a{
    color: #87CEEB;
}
.content-image{
    text-align: center;
}
.teamicon-image{
    height: 12vmin;
    width: 12vmin;
}
label h2{
    font-size: 2.6vmin;
    padding-bottom: 15px;
}
.profile-image{  
    position: relative;
    top: 50%;
    transform: translateY(15%);
    max-height: 125px;
    max-width: 125px;
    border-radius: 50%;
}
.group-image{
    position: relative;
    top: 50%;
    transform: translateY(15%);
}

.tabs label, .tabs img {
    text-align: center;
}

.tablink:hover{
    background-color: #7F6AA3;
}

.tablink:hover, .tablink label{
    color: #fff; 
    cursor: pointer;
}

.active{
    background-color: #4F4363 !important;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    margin-top: 5vmin;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* END: Team Page Tab Logic and Styling */

.footer{
    text-align: center;
    background-color: #222;
    color: #fff;
    display: block;
    height: 5vh;
    line-height: 5vh;
    font-family: Roboto;
}

.footer span, .footer i{
    vertical-align: middle;
}


/*ALL MOBILE MODIFICATIONS*/
/*Made to match grid-responsive.css from PureCSS*/
@media screen and (max-width: 1280px) {  
    /* xl */
    .info-content{
        text-align: center;
    }
    .landing-info{  
        font-size: 1.2em;
        padding: 0 3.6em;
    }
    .landing-image1{
        max-height: 350px;
        max-width: 80vw;
        padding: 3vh 15vw;
        margin: 0;
    }
    .landing-image2{
        max-height: 350px;
        max-width: 80vw;
        padding: 0 10vw;
        margin: 0;
    }
    .video-section h2{
        margin: 0;
    }

    
    .team-content-border{
        padding: 5vmin;
        width: 80vw;
        margin: 10vmin auto;
    }
    .team-member{
        margin: 10vmin;
    }
    .content {
        margin-top: 5em;
    }
    .teamicon-image{
        margin: 2vmin 1vmin;
    }  
    .profile-image{  
        right: 10%;
    }
}
@media screen and (max-width: 1024px) { 
    /* lg */    
    
    .video-container {
        padding-bottom: 45%;
    }
    .video-container iframe, 
    .video-container object, 
    .video-container embed {
        width: 55vmin;
        height: 35vmin;
    }
    
    .profile-image{  
        top: -50px;
        right: 0;
        max-height: 150px;
        max-width: 150px;
    }
}
@media screen and (max-width: 768px) {   
    /* md */
    .info-content{
        margin: 0 2vw;
    }
    .info-content h2{
        padding-top: 1.6em;
        color: #87CEEB;
    }
    .landing-info{    
        font-size: 0.9em;
    }
    .video-container {
        padding-bottom: 65%;
    }
    .video-container iframe, 
    .video-container object, 
    .video-container embed {
        width: 70vmin;
        height: 45vmin;
    }
    
    .team-member{
        margin: 10vmin 5vmin;
    }
}
    
@media screen and (max-width: 568px) {
    /* sm */
    .team-content-border{
        padding: 5vmin;
        width: 90vw;
        margin: 7vh auto;
    }    
    .teamicon-image{
        margin: 0;
    }  
    .team-member{
        margin: 15vmin 5vmin;
    }
    .profile-image{  
        top: -50px;
        right: 0;
        max-height: 125px;
        max-width: 125px;
    }
    .footer{
        height: 7vh;
        line-height: 7vh;
    }
}